:root {
    --container-background: hsl(330, 100%, 98%);
    --recipe-background: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p, li, th, td {
    font-family: "Outfit", sans-serif;
    font-weight: 400, 600, 700;
}

hr {
    margin: 2em 0;
}

#container {

    border: 2px solid;
    display: flex;
    justify-content: center;
    background-color: var(--container-background);
}

#container > .recipe-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--recipe-background);
    border: 2px solid;
    padding: 30px;
    margin: 5em 0;
    width: 700px;
}

.recipe-wrapper > .top-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-image figure > img {
    border-radius: 10px;
}

.intro-wrapper {
    margin: 1em 0;
}

.intro-wrapper > h1, p {
    margin: 1rem 0;
}

.intro-wrapper > .prep-time {
    padding: 15px;
    background-color: hsl(30, 54%, 90%)
}

.prep-time ul > li {
    padding: 10px 0;
    margin-left: 1em;
}

#ingredients-section .ingredients ul > li {
    padding: 10px 0;
    margin-left: 1em;
}

#instructions-section .instructions ol > li {
    padding: 10px 0;
    margin-left: 1em;
}

#nutrition-section .nutrition > table {
    width: 100%;
}

.nutrition > table, th, td{
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }